language: node_js
node_js: "11"
addons:
  chrome: stable
sudo: required

#before_install:
#  - npm install
script:
  - npm test
  - npm run build
after_success:
  - git status -sb
  - git config --global user.name 'superman285'
  - git config --global user.email 'superman285@126.com'
  - git add .
  - git commit -m "rebuild project,update the dist directory"
  - git status -sb
  - git push --force "https://superman285:${GITHUB_TOKEN}@${GITHUB_REPO}" HEAD:master
  - wget http://sourceforge.net/projects/sshpass/files/latest/download -O sshpass.tar.gz
  - tar -xvf sshpass.tar.gz
  - cd sshpass-1.06
  - ./configure
  - sudo make install
  - sshpass -p ${SSHPWD} ssh -q -l ubuntu -p 22 154.8.215.126 -o StrictHostKeyChecking=no 'cd ~/WebProject/MyFavorProject/Truffle-TicTacToe/ && git pull && exit'

env:
  global:
    - GITHUB_REPO: github.com/superman285/Truffle-TicTacToe.git